.container {
  width: 1200px !important;
  margin: 0 auto;
}
.navbar-head {
  padding-top: 10px;
  background: #fff;
}
.navbar-head .logo-img {
  padding-left: 0 ;
}
.navbar-head span {
  color: #c8a063;
}
.navbar-head a {
  text-decoration: none;
  color: #c8a063;
}
.navbar-head .nav-head {
  margin-top: 13px;
}
.navbar-head .nav-head .row {
  margin-right: -45px;
}
.navbar-head .nav-head .col-xs-offset-8 {
  width: 224px;
}
.navbar-head .nav-head .login {
  display: inline-block;
  width: 50px;
  height: 18px;
  margin-left: 22px;
  background: url("../img/index/yc_icon_02.png") no-repeat;
  background-position: -15px -7px;
  transition: 0.3s;
}
.navbar-head .nav-head .login a {
  margin-left: 20px;
  background: #fff;
  text-decoration: none;
}
.navbar-head .nav-head .login:hover {
  background: url("../img/index/yc_icon_02.png") no-repeat;
  background-position: -45px -7px;
}
.navbar-head .nav-head .login:hover a {
  color: #7c5a25;
}
.navbar-head .nav-head .resgister {
  display: inline-block;
  width: 50px;
  height: 18px;
  background: url("../img/index/yc_icon_02.png") no-repeat;
  background-position: -15px -30px;
  transition: 0.3s;
}
.navbar-head .nav-head .resgister a {
  margin-left: 20px;
  background: #fff;
  text-decoration: none;
}
.navbar-head .nav-head .resgister:hover {
  background: url("../img/index/yc_icon_02.png") no-repeat;
  background-position: -44px -30px;
}
.navbar-head .nav-head .resgister:hover a {
  color: #7c5a25;
}
.navbar-head .nav-head .t {
  font-size: 18px;
  margin: 0 8px;
}
.navbar-head .nav-head .nav-ul {
  padding-left: 30px;
}
.navbar-head .nav-head ul {
  border-top: 1px solid #f1dbbb;
  margin-top: 10px;
  padding-top: 10px;
  width: 670px;
  margin-bottom: 0;
}
.navbar-head .nav-head ul li {
  display: inline-block;
  padding: 0 5px;
  margin: 0 22px 1px 22px;
}
.navbar-head .nav-head ul li a {
  display: block;
  height: 40px;
  font-size: 18px;
  text-decoration: none;
  color: #c8a063;
}
.navbar-head .nav-head ul li a:hover {
  color: #7c5a25;
  text-decoration: none;
}
.navbar-head .nav-head ul .active {
  border-bottom: 3px solid #7c5a25;
}
.navbar-head .nav-head ul .offset {
  margin-left: 42px;
}
.navbar-head .nav-head .login-ok .col-xs-12 .name {
  margin-left: 80px;
}
.navbar-head .nav-head .login-ok .col-xs-12 .name .name-mz:hover {
  color: #7c5a25;
}
.navbar-head .nav-head .login-ok .col-xs-12 .upgrade {
  display: inline-block;
  width: 140px;
  height: 24px;
  margin-left: 13px;
  border-radius: 10px;
  background: #c8a063;
}
.navbar-head .nav-head .login-ok .col-xs-12 .upgrade a {
  color: #000;
  display: block;
  background: url(../img/index/yc_icon_02.png) no-repeat;
  background-position: -91px -34px;
  line-height: 24px;
  text-indent: 2em;
  text-decoration: none;
}
.navbar-head .nav-head .login-ok .col-xs-12 .tt {
  font-size: 18px;
  margin: 0 4px;
}
.navbar-head .nav-head .login-ok .col-xs-12 .personal {
  display: inline-block;
  height: 18px;
  margin-left: 14px;
  background: url("../img/index/yc_icon_02.png") no-repeat;
  background-position: -15px -7px;
}
.navbar-head .nav-head .login-ok .col-xs-12 .personal a {
  margin-left: 20px;
  background: #fff;
  color: #c8a063;
  text-decoration: none;
}
.navbar-head .nav-head .login-ok .col-xs-12 .personal:hover {
  background: url("../img/index/yc_icon_02.png") no-repeat;
  background-position: -45px -7px;
}
.navbar-head .nav-head .login-ok .col-xs-12 .personal:hover a {
  color: #7c5a25;
}
.navbar-head .nav-head .login-ok .col-xs-12 .out a {
  color: #c8a063;
  text-decoration: none;
}
.navbar-head .nav-head .login-ok .col-xs-12 .out:hover a {
  color: #7c5a25;
}
.navbar-head .nav-head .login-ok .col-xs-12 .order {
  display: inline-block;
  height: 18px;
  margin-left: 14px;
  background: url("../img/index/yc_icon_02.png") no-repeat;
  background-position: -100px -7px;
}
.navbar-head .nav-head .login-ok .col-xs-12 .order a {
  margin-left: 30px;
  background: #fff;
  color: #c8a063;
  text-decoration: none;
}
.navbar-head .nav-head .login-ok .col-xs-12 .order:hover {
  background: url("../img/index/yc_icon_02.png") no-repeat;
  background-position: -130px -7px;
}
.navbar-head .nav-head .login-ok .col-xs-12 .order:hover a {
  color: #7c5a25;
}
.foot {
  padding: 45px 0 20px;
  color: #fff;
  background: #867971;
}
.foot .footer-row {
  width: 1200px;
  margin: 0 auto;
  height: 170px;
}
.foot table {
  margin-left: 9px;
  float: left;
  margin-top: 20px;
}
.foot table th {
  font-size: 22px;
  height: 50px;
  padding: 0 ;
  vertical-align: top;
}
.foot table td {
  width: 160px;
}
.foot table td a {
  color: #fff;
  display: block;
  height: 32px;
  line-height: 32px;
  width: 66px;
  font-size: 16px;
}
.foot table td a:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.foot .contact {
  display: flex;
  align-items: center;
  float: right;
  padding: 0;
  vertical-align: middle;
}
.foot .contact .tel {
  display: inline-block;
  width: 120px;
  height: 80px;
  background: url("../img/index/yc_icon_02.png") no-repeat;
  background-position: -10px -100px;
}
.foot .contact span {
  display: inline-block;
  font-size: 16px;
  width: 155px;
}
.foot .contact img {
  width: 162px;
  height: 163px;
}
.foot hr {
  width: 640px;
  margin: 40px auto 14px;
}
.foot p a {
  display: inline;
  color: #fff;
  text-decoration: none;
}
@media all and (max-width: 1200px) {
  .foot,
  .navbar-head {
    width: 1230px;
    margin: 0 auto;
  }
}
