.about {
  background: #f9f9f9;
}
.about .about-detail {
  padding: 34px 85px 60px 85px;
}
.about .about-detail .about-ul {
  border-bottom: 2px solid #6e615b;
  padding: 4px;
  margin-bottom: 5px;
}
.about .about-detail .about-ul li {
  display: inline-block;
  font-size: 15px;
  padding: 0 6px;
  cursor: pointer;
}
.about .about-detail .about-ul li a {
  display: block;
  width: 22px;
  height: 22px;
  background: url(../img/about/home_icon.png) no-repeat;
  background-position: -15px -4px;
  transition: .3s;
}
.about .about-detail .about-ul li a:hover {
  background-position: -50px -4px;
}
.about .about-detail .about-ul .home {
  height: 24px;
  padding: 0;
  padding-top: 5px;
}
.about .about-detail .login {
  padding: 0;
  background: #f3f3f3;
  margin-top: 50px;
  border: 1px solid #dcdcdc;
}
.about .about-detail .login .login-img {
  padding-right: 0;
}
.about .about-detail .login .login-from {
  padding: 15px 34px 20px 26px;
}
.about .about-detail .login .login-from ul {
  margin-bottom: 12px;
}
.about .about-detail .login .login-from ul li {
  display: inline-block;
}
.about .about-detail .login .login-from ul .login-ul-li {
  font-size: 22px;
  color: #5a492f;
  margin-right: 16px;
}
.about .about-detail .login .login-from ul .li-res {
  background: url(../img/about/login_icon.png) no-repeat;
  background-position: -9px -15px;
}
.about .about-detail .login .login-from ul .li-res a {
  color: #c8a063;
  margin-left: 16px;
}
.about .about-detail .login .login-from form div {
  border: 1px solid #dcdcdc;
  height: 45px;
  margin-bottom: 5px;
  background: #fff;
}
.about .about-detail .login .login-from form div span {
  display: inline-block;
  width: 91px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  background: #eeeeee;
}
.about .about-detail .login .login-from form div span i {
  color: red;
  margin-right: 2px;
}
.about .about-detail .login .login-from form div input {
  width: 177px;
  height: 43px;
  line-height: 43px;
  border: none;
  text-indent: 1em;
}
.about .about-detail .login .login-from form div input::-webkit-input-placeholder,
.about .about-detail .login .login-from form div textarea::-webkit-input-placeholder {
  color: #adadad;
}
.about .about-detail .login .login-from form div input:-moz-placeholder,
.about .about-detail .login .login-from form div textarea:-moz-placeholder {
  color: #adadad;
}
.about .about-detail .login .login-from form div input::-moz-placeholder,
.about .about-detail .login .login-from form div textarea::-moz-placeholder {
  color: #adadad;
}
.about .about-detail .login .login-from form div input:-ms-input-placeholder,
.about .about-detail .login .login-from form div textarea:-ms-input-placeholder {
  color: #adadad;
}
.about .about-detail .login .login-from form .login-input {
  margin: 15px 0;
}
.about .about-detail .login .login-from form p {
  font-size: 12px;
}
.about .about-detail .login .login-from form label {
  color: #5a492f;
  font-weight: 100;
  margin: 6px 0 10px;
  margin-left: 6px;
}
.about .about-detail .login .login-from form .so {
  margin-left: 130px;
  color: #000;
}
.about .about-detail .login .login-from form .sub {
  width: 100%;
  height: 34px;
  background: #c8a063;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 17px;
}
.about .about-detail .login .login-from form .sub-res {
  margin-top: 10px;
}
.about .about-detail .login .login-from form .sub:hover {
  background: #4c3b34;
}
.about .about-detail .login .login-from form .login-foot {
  width: 100%;
  height: 100%;
  border-top: 1px solid #dcdcdc;
  position: relative;
  margin-top: 30px;
}
.about .about-detail .login .login-from form .login-foot .login-foot-text {
  display: block;
  position: absolute;
  font-size: 18px;
  text-align: center;
  color: #5a492f;
  width: 190px;
  top: -13px;
  left: 47px;
  background: #f3f3f3;
}
.about .about-detail .login .login-from form .login-foot .weibo {
  display: inline-block;
  width: 40px;
  position: absolute;
  height: 40px;
  top: 11px;
  left: 65px;
  background: url(../img/about/login_icon.png) no-repeat;
  background-position: -2px -39px;
}
.about .about-detail .login .login-from form .login-foot .weibo:hover {
  background-position: -39px -39px;
}
.about .about-detail .login .login-from form .login-foot .qq {
  display: inline-block;
  width: 40px;
  position: absolute;
  height: 40px;
  top: 11px;
  left: 162px;
  background: url(../img/about/login_icon.png) no-repeat;
  background-position: -2px -83px;
}
.about .about-detail .login .login-from form .login-foot .qq:hover {
  background-position: -39px -83px;
}
.about .about-detail .login .login-from form .reg-foot-p {
  margin-top: 19px;
}
.about .about-detail .reg-success {
  border: none;
  background: #f9f9f9;
}
.about .about-detail .reg-success .row {
  margin-top: 32px;
  margin-bottom: 188px;
}
.about .about-detail .reg-success .row .col-xs-4 {
  padding-left: 206px;
  padding-top: 15px;
}
.about .about-detail .reg-success .row .col-xs-5 h3 {
  color: #574337;
  margin-bottom: 13px;
}
.about .about-detail .reg-success .row .col-xs-5 p {
  font-weight: bold;
  color: #61524b;
}
.about .about-detail .reg-success .row .col-xs-5 p a {
  color: #c8a063;
}
@media all and (max-width: 1200px) {
  .about {
    width: 1230px;
    margin: 0 auto;
  }
}
