body {
  position: relative;
  width: 100%;
  height: 1100px;
}
.shouye {
  position: absolute;
  width: 100%;
  height: 1100px;
  border-top: 1px solid #fff;
  background: url(../img/index/bj-2.jpg) no-repeat;
  background-position: center !important;
}
.shouye h3 {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}
.shouye ul {
  width: 1160px;
  margin: 100px auto;
}
.shouye ul li {
  margin-right: 12px;
  display: inline-block;
}
.shouye ul li h4 {
  font-size: 15px ;
  color: #c8a063;
  padding: 10px 0;
  text-align: center;
}
.shouye .shouye-foot {
  width: 1160px;
  height: 360px;
  margin: 0 auto;
}
.shouye .shouye-foot div {
  float: left;
  width: 320px;
  margin-left: 100px;
}
.shouye .shouye-foot div p {
  margin-top: 90px;
  font-size: 17px;
  line-height: 30px;
  color: #c8a063;
}
.shouye .shouye-foot .code {
  float: right;
}
.shouye .shouye-foot .code span {
  color: #c8a063;
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
}
@media all and (max-width: 1200px) {
  .shouye {
    width: 1230px;
    margin: 0 auto;
  }
}
