.nav-search {
  height: 596px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.nav-search ul li {
  display: none;
}
.nav-search ul li .banner-one {
  background: url(../img/index/yc_web_banner_01.jpg) no-repeat;
}
.nav-search ul li .banner-two {
  background: url(../img/index/yc_web_banner_02.jpg) no-repeat;
}
.nav-search ul li .banner-three {
  background: url(../img/index/yc_web_banner_03.jpg) no-repeat;
}
.nav-search ul li a {
  position: absolute;
  width: 100%;
  height: 596px;
  background-position: center !important;
}
.nav-search .left {
  width: 86px;
  height: 86px;
  position: absolute;
  left: 10%;
  top: 45%;
  background: url("../img/index/qh_icon.png") no-repeat;
  background-position: -6px -9px;
}
.nav-search .left:hover {
  background-position: -101px -9px;
}
.nav-search .right {
  width: 86px;
  height: 86px;
  position: absolute;
  right: 10%;
  top: 45%;
  background: url("../img/index/qh_icon.png") no-repeat;
  background-position: -6px -101px;
}
.nav-search .right:hover {
  background-position: -101px -101px;
}
.nav-search .search {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 590px;
  height: 45px;
  margin-left: -295px;
  background: #fff;
  opacity: 0.6;
}
.nav-search .search span {
  display: block;
  height: 45px;
  width: 45px;
  margin-left: 10px;
  float: left;
  background: url(../img/index/yc_icon_02.png) no-repeat;
  background-position: -35px -46px;
}
.nav-search .search input {
  float: left;
  margin-left: 20px;
  width: 418px;
  border: none;
  margin-top: 12px;
  border-right: 2px solid #f9e6ca;
}
.nav-search .search button {
  color: #c8a063;
  width: 86px;
  float: left;
  margin-top: 12px;
  text-align: center;
  border: none;
  background: none;
}
.nav-search .search:hover {
  opacity: 1;
}
.map {
  background: #fefcfa;
  border-bottom: 2px solid #ded5c8;
}
.map .nav-title1 {
  text-align: center;
  color: #c8a063;
  padding-top: 90px;
}
.map .nav-title1 h3 {
  margin: 0;
  font-size: 30px;
}
.map .nav-title1 hr {
  margin: 10px auto 28px;
  width: 114px;
  border: 2px solid #7c5a25;
}
.map .nav-title1 p {
  margin: 0;
  font-size: 16px;
}
.map .map-img {
  margin: 0 auto;
  width: 1200px;
  position: relative;
}
.map .map-img img {
  width: 1200px;
}
.map .map-img li {
  position: absolute;
  width: 24px;
  height: 24px;
  background: #cfa972;
  border-radius: 50%;
  transition: 0.5s;
  border: 2px solid transparent;
}
.map .map-img li span {
  display: block;
  margin: 4px auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  background: #59493f;
}
.map .map-img li div {
  position: absolute;
  display: none;
  width: 600px;
  height: 300px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  bottom: 40px;
  left: -290px;
  border-radius: 14px;
  color: #fff;
  z-index: 99;
}
.map .map-img li div img {
  width: 270px;
  height: 180px;
}
.map .map-img li div .map-img2 {
  float: right;
}
.map .map-img li div h3 {
  margin-top: 15px;
  font-size: 18px;
}
.map .map-img li div p {
  font-size: 14px;
}
.map .map-img li div label {
  display: block;
  position: absolute;
  bottom: -37px;
  left: 284px;
  width: 0;
  height: 0;
  border: 16px solid;
  border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}
.map .map-img li .hover-show {
  cursor: pointer;
}
.map .map-img .map-li1 {
  top: 352px;
  left: 401px;
}
.map .map-img .map-li2 {
  top: 390px;
  left: 358px;
}
.map .map-img .map-li3 {
  top: 466px;
  left: 274px;
}
.map .map-img .map-li4 {
  top: 430px;
  left: 592px;
}
.map .map-img .map-li5 {
  top: 342px;
  left: 635px;
}
.map .map-img .map-li6 {
  top: 370px;
  left: 674px;
}
.map .map-img .map-li7 {
  top: 561px;
  left: 526px;
}
.map .map-img .map-li8 {
  top: 508px;
  left: 657px;
}
.map .map-img .map-li9 {
  top: 261px;
  left: 912px;
}
.map .map-img .map-li10 {
  top: 553px;
  left: 703px;
}
.map .map-img .map-li11 {
  top: 460px;
  left: 436px;
}
.map .map-img li:hover {
  cursor: pointer;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.5);
}
.map .map-img li:hover div {
  display: block;
}
.map .map-img li:hover span {
  background: #8fc31f;
}
.accommodation {
  text-align: center;
  padding-bottom: 25px;
}
.accommodation .nav-title2 {
  color: #c8a063;
  padding: 40px 0 20px;
}
.accommodation .nav-title2 h3 {
  margin: 0;
  font-size: 30px;
}
.accommodation .nav-title2 hr {
  margin: 10px auto;
  width: 113px;
  border: 2px solid #7c5a25;
}
.accommodation .row {
  margin-bottom: 15px;
}
.accommodation .row div {
  position: relative;
  overflow: hidden;
}
.accommodation .row div p {
  margin: 0;
  width: 100%;
  height: 62px;
  line-height: 62px;
  position: absolute;
  padding: 0 40px;
  font-size: 16px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.accommodation .row div p span {
  display: block;
  color: #d7d7d7;
  text-align: left;
  width: 100%;
  font-size: 14px;
  line-height: 25px;
  overflow: hidden;
  position: relative;
}
.accommodation .row div p a {
  display: block;
  margin: 20px auto;
  width: 96px;
  text-decoration: none;
  height: 28px;
  padding: 0;
  line-height: 28px;
  color: #000;
  font-size: 18px;
  background: #c0996f;
}
.accommodation .row div .accommodation_text {
  line-height: 26px;
  height: 160px;
}
.accommodation .row div .accommodation-text {
  height: 76px;
}
.accommodation button {
  margin: 20px 0;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 18px;
  color: #c0996f;
  font-size: 18px;
  background-color: #fff;
  border: 2px solid #c0996f;
}
.accommodation button:hover {
  background: #c0996f;
  color: #fff;
}
.info {
  padding: 40px 0;
  background: #fafafa;
}
.info h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  color: #c8a063;
  border-bottom: 2px solid #e4bf97;
}
.info h4 span {
  display: inline-block;
  border-left: 5px solid #c0996f;
  height: 25px;
  padding-left: 15px;
  line-height: 25px;
}
.info h4 a {
  color: #868585;
  text-decoration: none;
}
.info .col-xs-6 {
  padding: 0;
  width: 546px;
}
.info .info-fr {
  margin-left: 48px;
}
.info .fig {
  display: block;
  padding-left: 10px;
  height: 160px;
}
.info .fig img {
  width: 240px;
  height: 160px;
}
.info .fig .figc {
  width: 55%;
  height: 160px;
  padding: 0 15px ;
  color: #c8a063;
}
.info .fig .figc h2 {
  font-size: 17px;
}
.info .fig .figc hr {
  margin: 10px 0;
  border-color: #d2d2d2 ;
}
.info .fig .figc:hover {
  background: #f4f0ec;
}
.info .fig:after {
  content: '';
  display: block;
  clear: both;
}
.info ul {
  cursor: pointer;
  margin-top: 10px ;
}
.info ul li {
  padding: 18px 0 14px;
  border-bottom: 1px solid #bbaa8f;
}
.info ul li a {
  color: #626262;
  font-size: 16px;
  display: inline-block;
  width: 75%;
  text-decoration: none;
}
.info ul li h5 {
  margin: 0;
  color: #7c5a25;
  font-size: 14px;
}
.info ul li:hover a {
  color: #4a3d35;
  font-weight: bold;
}
@media all and (max-width: 1200px) {
  .info,
  .map,
  .nav-search {
    width: 1230px;
    margin: 0 auto;
  }
}
.toTop {
  position: fixed;
  bottom: 80px;
  right: 100px;
  display: block;
  width: 80px;
  height: 70px;
  display: none;
  background: url("../img/index/yc_icon_02.png") no-repeat;
  background-position: -7px -210px;
}
.toTop:hover {
  background-position-x: -100px;
}
