.booking {
    background: #f9f9f9;
    .row {
        padding: 34px 80px 30px 90px;
        .booking-ul {
            border-bottom: 2px solid #6e615b;
            padding: 4px;
            margin-bottom: 5px;
            li {
                display: inline-block;
                font-size: 15px;
                padding: 0 6px;
                cursor: pointer;
            }
            a{
                color: #000;
                text-decoration: none;
            }
            .home{
                height: 24px;
                padding: 0;
                padding-top: 5px;
                a {
                    display: block;
                    width: 22px;
                    height: 22px;
                    background: url(../img/about/home_icon.png) no-repeat;
                    background-position: -15px -4px;
                    transition: .3s;
                }
                a:hover {
                    background-position: -50px -4px;
                }
            }
        }



.booking-text {
    padding: 0;
    border: 1px solid #dcdcdc;
    display: block;
    margin-top: 40px;
    background: #fff;
    .img{
     padding: 0;  
    }
    .booking-title1 {
        padding: 10px 20px 10px 20px;
        h3 {
                color: #c8a063;
          }
        p {
            font-size: 15px;
            margin-top: 20px;
            color: #000;
        }
        .address {
            font-size: 14px;
        }
        .price {
            width: 125px;
            padding-right: 10px;
            margin-left: 340px;
            b {
                display: block;
                color: #000;
                span {
                    font-size: 25px;
                    color: #7c5a25;
                }
            }
           .yuding{
                width: 100px;
                height: 30px;
                display: block;
              
                background: #c8a063;
                margin-top: 8px;
                text-align: center;
                line-height: 30px;
                color: #fff;
            }
        }
    }
}
.booking-text:hover{
     box-shadow:  0px 0px 15px #8C8C8C;
}




.paging {
    ul {
        float: right;
        margin-top: 31px;
        li {
            display: inline-block;
            width: 30px;
            height: 30px;
            border: 1px solid #dcdcdc;
            text-align: center;
            line-height: 30px;
        }
        .paging-active {
            background: #c0996f;
            color: #fff;
            border: none;
        }
    }
}

//√˘ÁÊ¿Ô‘§∂©
.mingkeli {
    padding:14px;
    background: #fff;
    .mingkeli-box1-img {
        width: 564px;
        height: 380px;
        overflow: hidden;
        position: relative;
        margin-right: 13px;
        float: left;
        img {
            position: absolute;
            top: 0;
            width: 564px;
            display: none;
        }
        .ltr {
            width: 560px;
            height: 50px;
            position: absolute;
            top: 50%;
            margin-top: -35px;
            font-size: 55px;
            span {
                background-color: rgba(0, 0, 0, .3);
                color: #fff;
                cursor: pointer;
            }
            .left {
                float: left;
            }
            .right {
                float: right;
            }
        }
    }
    .mingkeli-box2-img {
        height: 380px;
        margin: 0;
        overflow: hidden;
        .box2-img {
            margin-bottom: 8px;
            img{
                width:208px ;
            }
            .img-right {
                margin-right: 4px;
            }
        }
        .text-img {
            width: 100%;
            height: 35px;
            background: #333333;
            color: #fff;
            line-height: 35px;
            padding-right:20px ;
            p {
                float: right;
            }
        }
    }
}

//∑øÃ¨
.mingkeli-type {
    border: 1px solid #f1f1f1;
    background: #fff;
    padding: 0;
    margin-top: 15px;
    .mingkeli-type-time {
        background: #f1f1f1;
        height: 70px;
        li {
            display: inline-block;
            width: 110px;
            text-align: center;
            line-height: 68px;
            height: 68px;
            font-size: 17px;
            a {
                text-decoration: none;
                color: #000;
            }
        }
        li:hover {
            background: #fff;
        }
        .active {
            background: #fff;
            height: 70px;
            border-top: 2px solid #000
        }
        .in {
            width: 220px;
            height: 50px;
            background: #fff;
            line-height: 50px;
            label {
                font-size: 14px;
            }
            input {
                width: 140px;
                border: none;
                text-indent: 1em;
            }
        }
        .with {
            width: 78px;
        }
        .with:hover {
            background: #f1f1f1;
        }
        .confirm {
            height: 50px;
            background: #c8a063;
            line-height: 50px;
            a {
                display: block;
                width: 110px;
                height: 50px;
                text-decoration: none;
                color: #fff;
            }
        }
        .confirm:hover {
            background: #4c3b34;
        }
    }
    .Room-type-box {
        padding: 0 20px 20px 26px;
        .Room-type-nav {
            border-bottom: 1px solid #000;
            margin: 0;
            li {
                display: inline-block;
                text-align: center;
                width: 135px;
                height: 30px;
            }
        }
        table {
            tr {
                border-bottom: 1px dashed #aaaaaa;
                margin: 0;
                td {
                    height: 120px;
                    text-align: center;
                    vertical-align: middle;
                }
                .first {
                    width: 136px;
                    position: relative;
                    cursor: pointer;
                    .type-hover {
                        width: 680px;
                        //                              height: 220px;
                        background: #fff;
                        position: absolute;
                        z-index: 99;
                        padding: 14px 8px;
                        left: 40px;
                        top: 103px;
                        box-shadow: 0 0 15px rgba(0, 0, 0, .5);
                        display: none;
                        img {
                            margin: 0 8px;
                            width: 200px;
                            height: 155px;
                        }
                        label {
                            display: block;
                            position: absolute;
                            left: 20px;
                            width: 0;
                            height: 0;
                            top: -16px;
                            border: 8px solid;
                            border-color: transparent transparent #fff;
                        }
                        span {
                            display: block;
                            margin-top: 10px;
                            margin-right: 223px;
                        }
                    }
                }
                .first:hover {
                    .type-hover {
                        display: block;
                    }
                }
                .type {
                    width: 140px;
                }
                .breakfast {
                    width: 140px;
                }
                .wi-fi {
                    width: 140px;
                }
                .refund {
                    width: 140px;
                }
                .money {
                    width: 136px;
                }
                .btn-a {
                    width: 128px;
                    a {
                        width: 70px;
                        height: 32px;
                        line-height: 32px;
                        display: inline-block;
                        color: #fff;
                        text-decoration: none;
                        background: #aaaaaa;
                    }
                }
                .btn-b {
                    width: 146px;
                    a {
                        width: 70px;
                        height: 32px;
                        line-height: 32px;
                        display: inline-block;
                        color: #fff;
                        //                              margin-top: 34px;
                        text-decoration: none;
                        background: #c8a063;
                    }
                    a:hover {
                        background: #4c3b34;
                    }
                }
            }
            tr:hover {
                background: #f8f8f8;
            }
        }
    }
}

.minsu-list {
    border: 1px solid #f1f1f1;
    background: #fff;
    padding: 0;
    margin-top: 20px;
    h3 {
        line-height: 68px;
        margin: 0;
        border-top: 2px solid #000;
        text-indent: 1em;
        font-size: 17px;
        border-bottom: 1px solid #dcdcdc;
    }
    .jianjie {
        padding: 0 20px;
        margin-top:20px ;
        .jianjie-title {
            width: 80px;
             color: #959595;
             font-size: 16px;
             vertical-align: top;
        }
        .text-list{
            padding-left: 79px;
            span{
                margin: 0 20px;
            }
        }
        p{
            font-size: 12px;
           margin-top: -8px; 
        }
        pre{
                padding: 0 !important;
                background: #fff;
                font-size: 12px;
                border: none;
            }
    }
   
    .time {
      font-size: 12px;
    }
    .shes {
        padding-left:20px;
        h4 {
            
            color: #959595;
            width: 80px;
            margin-top: -1px;
            float: left;
            font-size: 17px;
        }
        .shes-text {
            float: right;
            width: 872px;
            padding-right:15px ;
            hr{
             border-style:dashed; 
             border-color:  #dcdcdc;  
            }
            .shes-text_table {
             
                .tilte-td {
                    width: 60px;
                    vertical-align: top;
                    font-size: 15px;
                }
                ul {
                    margin-left: 10px;
                    li {
                        float: left;
                        margin-right: 10px;
                        font-size: 12px;
                        background: url(../img/index/msyd_icon-2.png) no-repeat;
                        text-indent: 1.5em;
                        height: 40px;
                        width: 174px;
                    }
                }
            }
        }
    }
}


//µ„∆¿¡Ù—‘
.dianpin {
    border: 1px solid #f1f1f1;
    background: #fff;
    padding: 0;
    margin-top: 20px;
    h3 {
        line-height: 68px;
        margin: 0;
        border-top: 2px solid #000;
        text-indent: 1em;
        font-size: 17px;
        border-bottom: 1px solid #dcdcdc;
    }
    .dianpin-who {
        padding: 0px 90px 50px;
        table{
            margin-top: 20px;
            font-size: 13px;
            tr{
               border-bottom: 1px dashed #000;   
            }
            .name_style {
                height: 120px;
                width: 120px;
               
                i {
                    display: block;
                    width: 71px;
                    height: 71px;
                }
                span {
                    display: block;
                    margin-top: 10px;
                    a {
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
            .text_style {
                width: 670px;
                margin-top: 20px;
                float: left;
                .text-us {}
                .text-me {
                    background: #eeeeee;
                    width: 100%;
                    padding: 8px;
                    p {
                        margin: 0;
                    }
                }
            }
        }
        li:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    .dianpin-sub {
        padding: 20px 96px;
        background: #f2f2f2;
        border: 1px solid #f1f1f1;
        ul {
            height: 26px;
            font-size: 13px;
            margin-bottom: 20px;
            li {
                display: inline-block;
                a {
                    color: #c8a063;
                }
            }
            .avatar {
                width: 18px;
                height: 26px;
                margin-left: 22px;
                background: url("../img/index/yc_icon_02.png") no-repeat;
                background-position: -15px 4px;
            }
        }
        i {
            font-style: normal;
            display: block;
            text-indent: 3em;
            margin: 6px 0;
        }
        .sub {
            padding-left: 20px;
            textarea {
                resize: none;
                width: 784px;
                height: 240px;
//              border-color: #e5e5e5;
//              border-width: 2px;
                border: solid 2px #e5e5e5;
            }
            input {
                width: 120px;
                height: 50px;
                border: none;
                background: #c8a063;
                color: #fff;
                font-size: 17px;
                margin-left: 664px;
                margin-top: 20px;
            }
            input:hover {
                background: #4c3b34;
            }
        }
    }
}

// ∞È ÷—°¿Ò
.gift {
    padding: 0;
    margin: 30px 0 30px;
    .gift-div {
        position: relative;
        height: 738px;
        .niren {
            width: 228px;
            height: 229px;
            margin-bottom: 17px;
            background: url(../img/about/bsxl_web_02_03.jpg) no-repeat;
            span {
                display: block;
                width: 160px;
                height: 40px;
                line-height: 40px;
                font-size: 22px;
                text-align: center;
                position: absolute;
                top: 80px;
                left: 33px;
                background: rgba(0, 0, 0, .5);
                color: #fff;
            }
        }
        .taomu {
            background: url(../img/about/bsxl_web_02_10.jpg) no-repeat;
            span {
                top: 325px;
                left: 33px;
            }
        }
        .shuimitao {
            width: 240px;
            height: 475px;
            position: absolute;
            top: 0;
            left: 250px;
            background: url(../img/about/bsxl_web_02_05.jpg) no-repeat;
            span {
                display: block;
                width: 125px;
                height: 40px;
                line-height: 40px;
                font-size: 22px;
                text-align: center;
                position: absolute;
                top: 202px;
                left: 60px;
                background: rgba(0, 0, 0, .5);
                color: #fff;
            }
        }
        .jianzhi {
            width: 490px;
            height: 352px;
            position: absolute;
            top: 0;
            right: 0;
            background: url(../img/about/bsxl_web_02_07.jpg) no-repeat;
            span {
                display: block;
                width: 180px;
                height: 40px;
                line-height: 40px;
                font-size: 22px;
                position: absolute;
                top: 152px;
                left: 158px;
                text-align: center;
                background: rgba(0, 0, 0, .5);
                color: #fff;
            }
        }
        .show {
            background: url(../img/about/bsxl_web_02_12.jpg) no-repeat;
            position: absolute;
            top: 377px;
            right: 0;
            span {
                width: 125px;
                left: 180px;
            }
        }
        .di {
            width: 492px;
            height: 230px;
            position: absolute;
            top: 499px;
            left: 0;
            background: url(../img/about/bsxl_web_02_15.jpg) no-repeat;
            span {
                display: block;
                width: 180px;
                height: 40px;
                line-height: 40px;
                font-size: 22px;
                position: absolute;
                top: 90px;
                left: 158px;
            }
        }
    }
}
}

}
@media all and (max-width: 1200px) {
   .booking {
       width: 1230px;
       margin: 0 auto;
   }
    
}




#toTop-go {
    position: fixed;
    bottom: 80px;
    right: 100px;
    display: block;
    width: 80px;
    height: 70px;
    display: none;
    background: url("../img/index/yc_icon_02.png") no-repeat;
    background-position: -7px -210px;
}

#toTop-go:hover {
    background-position-x: -100px;
}